# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# PyInstaller
dist/
build/
*.spec
*.pth
# PyCharm
.idea/

# VSCode
.vscode/

# Log files
*.log
*.tar
# Data
/data/processed/*
/data/raw/*
models/
example/